{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST">
	{% csrf_token %}

	{{ form|crispy }}
	<button class="btn btn-primary" type="submit"> Search</button>
</form>

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
   	{% for blog in blogs %}
		<div class="post-preview">
			<h2 class="post-title">
				{{ blog.title }}
			</h2>
			<p class="post-subtitle">
            	{{ blog.content }}
			</p>
			<p class="post-meta">Posted by
				{{ blog.op.username }}
				on {{ blog.datePublished }}
			</p>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}