{% extends 'base.html' %}

{% block title %}
	<div class="site-heading">
		<h1>{{ blog.title }}</h1>
		<h2>{{ blog.description }}</h2>
		<p class="post-meta">Posted by
			{{ blog.op.username }}
			on {{ blog.datePublished }}
		</p>
	</div>
{% endblock %}

{% block content %}

<!-- The content of the blog will be updated live, through a second React App, this is just a placeholder -->

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
		<p>
		{{ blog.content|linebreaksbr }}
		</p>
	</div>
</div>

{% endblock %}