{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	<div class="small-heading">
	</div>
{% endblock %}

<!-- Again, as a secure page, this is handled almost
	entirely on the server side, as opposed to client
	where we risk injections. The page should simply
	not work if you manage to get to the edit/delete
	page for a blog you don't own. -->

{% block content %}

{% if request.resolver_match.url_name == 'delete' %}

<h2>Delete this blog?</h2>

{% else %}

<h2>Edit your blog.</h2>

{% endif %}

<form method='post'>

	{% csrf_token %}

	{{ form|crispy }}


	{% if request.resolver_match.url_name == 'delete' %}

	<button class="btn btn-danger" type='submit' name='submitbutton'>
		Delete Post
	</button>

	{% else %}

	<button class="btn btn-primary" type='submit' name='submitbutton'>
		Submit Post
	</button>

	{% endif %}

</form>

{% endblock %}
