{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	<div class="small-heading">
	</div>
{% endblock %}

{% block content %}

<h2>Write a new blog.</h2>

<form method='post'>

	{% csrf_token %}

	{{ form|crispy }}


	{% if request.resolver_match.url_name == 'delete' %}

	<button class="btn btn-danger" type='submit' name='submitbutton'>
		Delete Post
	</button>

	{% else %}

	<button class="btn btn-primary" type='submit' name='submitbutton'>
		Submit Post
	</button>

	{% endif %}

</form>

{% endblock %}
