{% extends 'base.html' %}

{% block title %}
	<div class="small-heading">
	</div>
{% endblock %}

{% block content %}

<h2>{{ user }}</h2>

<p>The following are all your posts we have on record.</p>

<br>

<!-- I chose not to use React for the profile page, as I don't 
	want to risk the potential security hole from creating a live
	reloading page with access to editting or deleting posts.
	While appropriate protections are in place, it shouldn't be quite
	that easy to accomplish.  -->

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
   	{% for blog in blogs %}
		<div class="post-preview">
			<h2 class="post-title">
				{{ blog.title }}
			</h2>
			<p class="post-subtitle">
            	{{ blog.description|linebreaksbr }}
			</p>
			<p class="post-meta">Posted by
				{{ blog.op.username }}
				on {{ blog.datePublished }}
			</p>
						<a href="">

			<a href="{% url 'delete' pk=blog.pk %}">
				<button class='btn btn-danger'> Delete Post </button>
			</a>
			<a href="{% url 'edit' pk=blog.pk %}">
				<button class='btn btn-primary'"> Edit Post </button>
			</a>
		</div>
		<hr>
	{% endfor %}
	</div>
</div>

{% endblock %}